@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    box-sizing: border-box;
}

body 
{
    margin: 0;
    font-family: Arial, Helvetica, serif;
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(175deg, rgba(37,14,44,1) 0%, rgba(131,122,182,1) 41%, rgba(157,133,182,1) 62%, rgba(162,134,182,1) 67%, rgba(204,141,179,1) 80%, rgba(246,165,192,1) 93%, rgba(247,194,202,1) 100%);    
    }

 

    
.module .trigger{
  position: relative;
  box-shadow: 0px 8px 16px #000;
  border-radius: 22px;
}

.module .trigger span{
font-weight: 500;
letter-spacing: 0px;
font-size: 16px;
position: relative;
background: white;
color: #555;
display: block;
min-width: 0px;
height: 44px;
padding: 0 18px;
z-index: 10;
cursor: pointer;
border-radius: 22px;
transition: 350ms border-radius 700ms,700ms color 700ms, 350ms min-width 250ms;
display: flex;
justify-content: center;
align-items: center;
justify-content: flex-start;
position: relative;
display: flex; 
justify-content: space-between; 
transition: top 1.5s cubic-bezier(0.25, 1, 0.5, 1); 
 top: 0; 
}

.module .trigger span em{
  font-style: normal;
  margin-right:5px;
  transform-origin: bottom;
  animation: 700ms waving infinite;
}

@keyframes waving{
  0%{
    transform: rotate(-10deg);
}
50% {
  transform: rotate(10deg);

}
100%{
  transform: rotate(-10deg);
}
}

.module .trigger ul.locations {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border-radius: 0 0 22px 22px;
  font-size: 14px;
  overflow: hidden;
  transform: scaley(0);
  transform-origin: top;
  transition: 350ms opacity 0ms;
}

.module .trigger ul.locations a {
opacity: 0;
transition: 350ms opacity 0ms;
text-decoration: none;
color: #27214d;
}

.module .trigger ul.locations li{
  top: 0;
  left: 0;
  width: 220px;
  height: 44px;
  padding: 0 20px;
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  border-left: 0px solid #eee;
  transition: 200ms border-left 0ms;
}

.module.trigger ul.locations li:before{
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #eee, #fcfcfc);
  position: absolute;
  top: 0;
  left: 0;
}

.module.trigger ul.locations li:last-of-type{
  border-radius: 0 0 22px 22px;
}

.module.trigger ul.locations li a{
  text-decoration: none;
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.module .trigger ul.locations li:hover{
  border-left: 10px solid #eee;
}

.module .trigger:hover span{
min-width: 220px;
border-radius: 22px 22px 0 0;
transition: 350ms border-radius 0ms, 700ms color 700ms, 350ms min-width 0ms;
color: #ccc;
}

.module .trigger:hover ul.locations{
  transform: scaley(1);
  transition: 350ms transform 350ms;
}

.module .trigger:hover ul.locations a{
  opacity: 1;
  transition: 350ms opacity 700ms;
}

.img_bf{
    flex: 2;
    height: 40rem;
    margin-top: 25%;
    
    display: flex;
}
.container-fluid img{
    height: 80px;
}

#main-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  width: 100%;
  min-height: calc(100vh - 100px); 
  margin-top: -12rem; 
  padding: 1rem;
 
}

#main-subcontainer
{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0 auto;
    margin-right: 5%;
}

#main-content
{
    flex: 4;
    height: 22rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
}



#middlebar {
  height: 3rem;
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;
}

#middlebar img {
  width: 300px; 
  height: auto;
  animation: upDown 1.5s infinite ease-in-out; 
}

@keyframes upDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); 
  }
  100% {
      transform: translateY(0); 
  }
}

#main-title
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    font-family: "Audiowide", serif;
}

#main-title span {
  background: linear-gradient(90deg, #fd6ca9, #f8536f, #fd66a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main-text {
    width:100%;
    max-width: 30rem;
    text-align: left;
    color: white;
    font-family: "Michroma", sans-serif;
    
  }

  .etec-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15vw;
    margin-bottom: 4rem; 
}

/* #carouselFotos {
  max-width: 750px; 
  max-height: 400px; 
  margin: 50px auto; 
  position: relative;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
 
  
}

.carousel-container {
  width: 80%;
  max-width: 900px; 
  margin: 0 auto;
  overflow: visible; 
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-inner {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
} */


.gallery{
  position:relative;
  width:300px;
  height:200px;
  transform-style:preserve-3d;
  animation:rotate 50s linear infinite;
  margin-left: 39%;
  margin-top: 7%;
  margin-bottom: 7%;
}

@keyframes rotate{
  from{
    transform:perspective(1200px) rotateY(0deg);
  }
  
  to{
    transform:perspective(1200px) rotateY(360deg);
  }
}

.gallery span{
  position:absolute;
  width:100%;
  height:100%;
  transform-origin:center;
  transform-style:preserve-3d;
  transform:rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}

.gallery span img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
}


.caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
}
  @media screen and (max-width: 768px) {
.gallery{ 
  
    margin-top: 12%;
    margin-bottom: 7%;
}

    #main-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; 
      align-items: center;
      width: 100%;
      min-height: calc(100vh - 100px); 
      margin-top: 1rem; 
      padding: 1rem;
  }
  #main-subcontainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
}

#main-content {
  order: -1; 
  text-align: center;
  justify-content: center;
  width: 90%;
  margin-bottom: -25%;

}

.img_bf {
  order: 1; 
  height: auto;
  max-width: 90%;
}

.module .trigger {
  position: relative;
  box-shadow: 0px 8px 16px #000;
  border-radius: 22px;
  margin-right: 2rem; 
}

.module .trigger span {
  padding: 0 24px; 
  font-size: 18px; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; 
}

}
/* preview */
.antes, .depois {
  border-radius: 15px;
  position: absolute;
  margin-top: 5.5vh;
  filter: blur(0.5px) brightness(70%) grayscale(10%);
  background-color: #000;
  max-height: 400px;
  width: 50%;
  overflow: hidden;
  opacity: 0.75;
  pointer-events: none;
}

.antes {
  left: 0;
  margin-left: 3%;
  clip-path: inset(0 50% 0 0);
}

.depois {
  right: 0;
  margin-right: 3%;
  clip-path: inset(0 0 0 50%);
}


.container-ds {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 3rem;
  max-width: 1000px;
  width: 100%;
}

.grid-item, .grid-itemm {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: none; 
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.grid-itemm:hover {
  transform: scale(1.05);
}

.grid-item img, .grid-itemm img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.flip-container {
  width: 100%;
  height: 250px;
}

.hardflipeumanobrachave {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.frentee, .atrass {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.frentee img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.atrass {
  background: rgb(112, 100, 184);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.grid-item.viradao .hardflipeumanobrachave {
  transform: rotateY(180deg);
}

#project-container {
  display: flex;
  flex-direction: column;
}

#project-top {
  min-height: 10rem;
  padding: 4rem;
  font-family: "Audiowide", serif;
  color: white;

}

#project-top h2{
  font-size: 40px;
  color: #945280;
}

#project-desc {
  margin-top: 2rem;
  font-size: 1.1rem;
}

#project-grids {
  width: 100%;
  padding: 4rem;
  padding-top: 3rem;
}

.grid-title {
  width: 100%;
  text-align: center;
  color: #522d47;
  
}

.project-grid {
  min-height: 15rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, max(22rem, 100%/4)), 1fr));
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  grid-auto-flow: dense;
}

.card {
  margin: auto;
  min-width: 22rem;
  max-width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.project-cell.expand {
  grid-column: span 2;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(105%);
}

.btnsite {
  background: linear-gradient(90deg, #fd6ca9, #f8536f, #fd66a5);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.btnsite:hover {
  transform: scale(1.05);
  color: whitesmoke;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.botaoproject {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsitee {
  background: linear-gradient(90deg, #fd6ca9, #f8536f, #fd66a5);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 4rem;
  width: 100%;
  max-width: 400px;
}

.btnsitee:hover {
  transform: scale(1.05);
  color: whitesmoke;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.footer-bg {
  background-color: rgba(37,14,44,1);
}

#footer-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
